<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta name='description' content='Aiming to improve public transportation interaction for the Washington Metropolitan Area.'>
  <meta name='og:description' content='Aiming to improve public transportation interaction for the Washington Metropolitan Area.'>
  <!--<meta property='og:video' content='https://cdn.mmwave.one/vid/earth.mp4'>-->
  <link rel="icon" href="https://esmel.xyz/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Credits</title>
</head>

<body>
  <h1>Credits:</h1>
  <h5><a id="markian" href="https://github.com/PlanMan1717" target="_blank">Markian Frykman</a> for making the Flask code.</h5>
  <h5><a id="andrew" href="https://esmel.xyz" target="_blank">Andrew Frykman</a> for making the HTML and CSS as well as hosting.</h5>
  <h5><a id="sham" href="https://replit.com/@lockSmxth5x">Shyamalan Mathavan</a> for helping with SCSS.</h5>
  
  <hr>
  <br>
  
  <p>This project aims to revolutionize the way people access and interact with public transportation information in the
    Washington Metropolitan Area. By leveraging the capabilities of the WMATA API, we aim to provide a seamless and
    intuitive interface for users to plan their trips and stay updated on the latest transportation news and
    disruptions.</p>

  <p>Our team is dedicated to delivering the most up-to-date and accurate information to users in real-time, so they can
    make informed decisions about their travel plans. In addition to providing basic trip planning functionality, we
    also aim to incorporate advanced features such as personalized route recommendations and real-time tracking of buses
    and trains.</p>

  <p>We believe that our project has the potential to significantly improve the commuting experience for residents and
    visitors of the Washington Metropolitan Area. Whether you're a seasoned commuter or a tourist exploring the city, we
    hope that our platform will become a go-to resource for all of your public transportation needs.</p>

  <!--  This project is a futuristic, modern implementation of the WMATA API. Tho this extent, we hope to provide a convinient, modern, and streamlined display for the discerning traveler and commuter alike. -->

</body>

</html>
