<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Credits</title>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap");
    :root {
      --richblack: #0D1321;
      --prussianblue: #1d2d44;
      --electricblue: #3e5c76;
      --shadowblue: #748cab;
      --floralwhite: #f9f7f0;
    }
    
    body {
      background-color: var(--richblack); 
    }
    
    h1 {
      color: floralwhite
    }

  </style>
</head>
<body>
  <h1>Credits:</h1>
  <h5><a href="https://github.com/PlanMan1717">Markian Frykman</a> for making the Flask code.</h5><h5> <a href="https://esmel.xyz">Andrew Frykman</a> for making edits and hosting.</h5>
  <p>The purpose of this project is to add </p>
  
</body>
</html>