<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <link rel="icon" href="https://esmel.xyz/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Credits</title>
</head>
<body>
  <h1>Credits:</h1>
  <h5><a href="https://github.com/PlanMan1717" target="_blank">Markian Frykman</a> for making the Flask code.</h5><h5> <a id="andrew" href="https://esmel.xyz" target="_blank">Andrew Frykman</a> for making edits and hosting.</h5>
  <p>The purpose of this project is to add </p>
  
</body>
</html>