<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shady Grove | WMATA</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,300,700" rel="stylesheet" type="text/css">
    <link href="https://www.wmata.com/style/wmata.styles.min.css" rel="stylesheet" media="screen">
    <link href="https://www.wmata.com/style/wmata.styles-p2.min.css" rel="stylesheet" media="screen">
    <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js" crossorigin async data-callback="initMapKit"
        data-libraries="map" data-initial-token=""></script>
</head>

<body>
    <div class="page-wrapper inner station-page">
        <div class="main-content">
            <div class="hero-wrapper">
                <div class="hero-content-wrapper">
                    <div class="news" id="newsDiv">
                    </div> <!--.news-->
                </div> <!--.hero-content-wrapper-->
            </div> <!-- .hero-wrapper -->
            <div class="container">
                <h1>Shady Grove</h1>
                <div class="share">
                    <div class="addthis_sharing_toolbox"></div>
                </div>
                <div class="content-wrapper">
                    <div class="content">
                        <div class="station-info-wrapper">
                            <div class="station-info-col map">
                                <div class="station-address">
                                    <p>
                                        Derwood, MD
                                    </p>
                                </div> <!--.station-address-->
                                <div class="station-lines">
                                    <ul class="rail-list">
                                        <li><span class="red">red Line</span></li>
                                    </ul>
                                </div> <!--.station-lines-->
                                <div id="map-container">
                                </div>
                                <script>
                                    const setupMapKitJs = async () => {
                                        if (!window.mapkit || window.mapkit.loadedLibraries.length === 0) {
                                            // mapkit.core.js or the libraries are not loaded yet.
                                            // Set up the callback and wait for it to be called.
                                            await new Promise(resolve => { window.initMapKit = resolve });

                                            // Clean up
                                            delete window.initMapKit;
                                        }

                                        const jwt = "eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IkhWNU03WTNRWjgifQ.eyJpc3MiOiJWNUtWNDhMTThUIiwiaWF0IjoxNjc1NjE5Mzk1LCJleHAiOjE2NzgxNDcyMDB9.QUQ1CGp-6tmFgTc2tDkjoMkjBdVjwtpuEUmjjBUk3fkXbFrf-pa5zhXnnkav1QXv8CHl8WCQTe8-wG1ACn42bQ";
                                        mapkit.init({
                                            authorizationCallback: done => { done(jwt); }
                                        });
                                    };

                                    const main = async () => {
                                        await setupMapKitJs();

                                        const shadygrove = new mapkit.CoordinateRegion(
                                            new mapkit.Coordinate(39.119819, -77.164921),
                                            new mapkit.CoordinateSpan(0.167647972, 0.354985255)
                                        );


                                        const map = new mapkit.Map("map-container");
                                        map.region = shadygrove;
                                    };

                                    main();
                                </script>
                            </div> <!--station-info-col map-->
                            <!--528x297-->
                            <div class="station-info-col details">
                                <div class="row">
                                    <div class="detail-item">
                                        <div class="detail-item-content parking">
                                            <p><strong>Parking:</strong></p>
                                            <ul>
                                                <li>
                                                    Daily:
                                                    <ul>
                                                        <li>M-F $5.20 all day</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    Metered Spaces:
                                                    <ul>
                                                        <li>76</li>
                                                    </ul>
                                                <li>
                                                    Reserved Parking:
                                                    <ul>
                                                        <li>Reserved rate: $45</li>
                                                    </ul>
                                                </li>
                                                <li>Parking Availability:
                                                    <ul>
                                                        <li>
                                                            <div style="border:thin; border-style:solid; border-color:#59C71A; border-radius:5px; background-color:#59C71A; width:55px; height:18px; float:left; font-size:12px; font-weight:bold; text-align:center; margin:0 3px 0 0; padding:0 0 3px 0;"
                                                                title="Parking available">Available</div>
                                                            North Lots/Garages
                                                        </li>
                                                        <li>
                                                            <div style="border:thin; border-style:solid; border-color:#59C71A; border-radius:5px; background-color:#59C71A; width:55px; height:18px; float:left; font-size:12px; font-weight:bold; text-align:center; margin:0 3px 0 0; padding:0 0 3px 0;"
                                                                title="Parking available">Available</div>
                                                            South Lots/Garages
                                                        </li>
                                                        <li>
                                                            <div style="border:thin; border-style:solid; border-color:#59C71A; border-radius:5px; background-color:#59C71A; width:55px; height:18px; float:left; font-size:12px; font-weight:bold; text-align:center; margin:0 3px 0 0; padding:0 0 3px 0;"
                                                                title="Parking available">Available</div>
                                                            West Lot
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div> <!--.detail-item-content-->
                                    </div> <!--.detail-item-content-->
                                    <div class="detail-item">
                                        <div class="detail-item-content bikes">
                                            <p><strong>Bikes:</strong></p>
                                            <ul>
                                                <li>
                                                    Bike Racks: 68
                                                </li>
                                                <li>
                                                    Lockers: 38
                                                </li>
                                                <li>
                                                    Bikesharing:
                                                    Yes<br />
                                                </li>
                                            </ul><br />
                                        </div> <!--.detail-item-content-->
                                        <div class="detail-item-content wifi">
                                            <p><strong>WiFi:</strong></p>
                                            <ul>
                                                <li>
                                                    Available
                                                </li>
                                            </ul>
                                        </div> <!--.detail-item-content-->
                                    </div> <!--.detail-item-content-->
                                </div> <!--.row-->
                                <!-- <div class="station-info-buttons">
                                    <a href="/schedules/trip-planner/index.cfm?location=Shady%20Grove" class="button"
                                        title="Plan a Trip">Plan a Trip</a>
                                    <a href="http://www.metroalerts.info/logon.aspx" class="button"
                                        title="Sign Up for Station Alerts">Sign Up for Station Alerts</a>
                                </div> .station-info-buttons -->
                            </div> <!--station-info-col details-->
                        </div> <!--.station-info-wrapper-->
                        <!-- <div class="stationCopyright">© 2023 WMATA</div> -->
                        <!-- <a name="hours"></a> -->

                        <!--.station-times-->
                    </div> <!--.content-->
                </div> <!--.content-wrapper -->
            </div> <!--.container-->
        </div> <!--.main-content-->
    </div> <!--.page-wrapper-->
    <!-- end page content -->
    <div style="display:block; clear:left; padding:0px; font-family:Verdana,Arial; font-size:10px; color:gray;"></div>

</body>

</html>
