form {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    position: relative;
    
      input[type="text"] {
        width: 80%;
        height: 40px;
        padding: 10px;
        font-size: 16px;
        border: 2px solid blue;
        border-radius: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .suggestions {
        position: relative;
        text-align: center;
        vertical-align: center;
        background-color: white;
        cursor: pointer;
        border: 1px solid gray;
        display: none;
    
        div {
            padding: 10px;
            border-bottom: 1px solid gray;
            cursor: pointer;
    
            &:hover {
                background-color: lightgray;
            }
        }
    }
    
    button {
        width: 20%;
        height: 40px;
        background-color: blue;
        color: white;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
}