<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://pub-e0e86bcdb20a447ea11d8706a676342f.r2.dev/metrolight.svg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search For Stations</title>
    <script src="/static/js/search.js"></script>
    <script src="/static/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/search.css">
    <script src="https://api.dumbsheep123.repl.co/suggestions.json"></script>
</head>

<body>
  <div class="search-container">
  <form>
    <input id="search-input" type="text">
    <button id="search-button" type="submit">Enter</button>  
    <div class="suggestions-bar"></div>
  </form>
  </div>
</body>

</html>