@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;400;500;600;700;800&display=swap');

@font-face {
    font-family: Menlo;
    src: url(/static/ttf/Menlo-Regular.ttf);
}

// Theme Colors
$raisin-black: #221d23;
$cafe-noir: #4f3824;
$copper-red: #d1603d;
$gold: #ddb967;
$yellow-green: #d0e37f;

// Extra colors
$darker-black: #080708;
$platinum: #E6E8E6;
$green-munsell: #06a77d; //use for arr ONLY

// Line Colors
$rose-madder: #DF2935; // Red

// Fonts
$inter: 'Inter';
$menlo: 'Menlo';
$martian: 'Martian Mono';


body { 
    background-color: $raisin-black;
}

h1 {
    font-family: $inter;
    font-size: 2.5em;
    color: $yellow-green;
    text-align: center;
    margin-bottom: -10px;
}
    
h2 {
    text-align: center;
    code {
        font-family: $martian, monospace;
        // text-align: center;
        font-size: 1em;
        font-feature-settings: "zero", "ss01";
        color: $copper-red;
        background-color: mix($raisin-black, $cafe-noir, $weight: 0.2);
        border-radius: 3px;
        padding: 3px 3px;
    }
}

table {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    //top: 20%;
    font-family: $inter, sans-serif;
    color: $platinum;
    border-collapse: collapse;

    // th:not(:last-child),
    td:not(:last-child) {
        border-right: 1px solid $platinum;
    }

    td:not(:first-child),
    th:not(:first-child) {
        padding-left: 5px;
    }

    th {
        padding-bottom: 10px;
    }
  
    td {
        text-align: center;
        
        .unit {
            font-size: 60%;
            font-family: $martian, monospace;
            color: $gold;
        }
        
        span.unit:empty {
            display: none;
        }
    }
  
    img.red-line .st0 {
        fill: $rose-madder !important;
    }
 
    td.dest1::before {
        content: '';
    }

    td.ARR {
        color: $green-munsell !important;
    }

    td.BRD {
        color: $gold;
    }

}

body * {
    user-select: none;
}