<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="google" content="notranslate">
  <meta name="apple-itunes-app" content="app-argument=notranslate">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://pub-e0e86bcdb20a447ea11d8706a676342f.r2.dev/metrolight.png" type="image/png">
  <link rel="stylesheet" href="/static/css/station.css">
  <script src="/static/js/rotate.js" defer></script>
  <script src="/static/js/script.js"></script>
  <title>{{station}} - {{city}}</title>
</head>
<body>
  <h1>{{station}}</h1>
  <h2><code id="station-code">{{city}}</code></h2>
  <table id="trains">
    <tr>
      <th>Line</th>
      <th>Destination</th>
      <th>Time</th>
      <th>Cars</th>
      <th>Occupancy</th>
    </tr>
  </table>
  <p id="rawData" style="display:none">{{data_raw}}</p>
  <p id="stationId" style="display: none;">{{station_id}}</p>
</body>
</html>