<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/station.css">
  <script src="/static/js/rotate.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>{{station}} - {{station_code}}</title>
</head>
<body>
  <h1>{{station}} <code id="station-code">{{station_code}}</code></h1>
  <table>
    <tr>
      <th>Line</th>
      <th><span class="material-symbols-outlined">
sync_alt
</span> Destination</th>
      <th>Time</th>
      <th>Cars</th>
      <th>Occupancy</th>
    </tr>
    <tr>
      <td><img class="red-line" src="../static/svg/WMATA_Red.svg" width="16px" alt="Red Line"></td>
      <td class="dest1">Shady Grove</td>
      <td>3 <span class="unit">MIN</span></td>
      <td>8</td>
      <td>Empty</td>
    </tr>
  </table>
</body>
</html>