@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap");

@font-face {
    font-family: Menlo;
    src: url(/static/ttf/Menlo-Regular.ttf);
}

$raisin-black: #221d23;
$cafe-noir: #4f3824;
$copper-red: #d1603d;
$gold: #ddb967;
$yellow-green: #d0e37f;

body {
    background-color: $raisin-black;
}

h1 {
    font-family: 'Inter';
    color: $yellow-green;
    code {
        font-family: 'Menlo';
        font-feature-settings: "zero", "ss01";
        color: $copper-red;
        background-color: mix($raisin-black, $cafe-noir, $weight: 0.35);
        border-radius: 3px;
    }
}